# Node
node_modules

# Frontend Vite
frontend/dist
frontend/node_modules

# Backend Java
backend/target

# env
.env
.env.local
.env.*.local

# storage local de media
storage/

# test
coverage

# TypeScript composite build info
*.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*

# IDE / tooling
.metals/
.vscode/
.project
.classpath
.settings/
.pi/
